<div>
  <h1>Joe's Pizza Menu</h1>
  <h2>Real Authentic Italian Pizza</h2>

  <center>
    <!-- <p id="menu-item-1"></p>
    <p id="menu-item-2"></p>
    <p id="menu-item-3"></p>
    <p id="menu-item-4"></p>
    <p id="menu-item-5"></p> -->
    <table border="">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cost</th>
      </tr>
      <tr>
        <td><div id="menu-id-1"></div></td>
        <td><div id="menu-name-1"></div></td>
        <td><div id="menu-price-1"></div></td>
      </tr>
      <tr>
        <td><div id="menu-id-2"></div></td>
        <td><div id="menu-name-2"></div></td>
        <td><div id="menu-price-2"></div></td>
      </tr>
      <tr>
        <td><div id="menu-id-3"></div></td>
        <td><div id="menu-name-3"></div></td>
        <td><div id="menu-price-3"></div></td>
      </tr>
      <tr>
        <td><div id="menu-id-4"></div></td>
        <td><div id="menu-name-4"></div></td>
        <td><div id="menu-price-4"></div></td>
      </tr>
      <tr>
        <td><div id="menu-id-5"></div></td>
        <td><div id="menu-name-5"></div></td>
        <td><div id="menu-price-5"></div></td>
      </tr>
    </table>
    <!-- <div id="menu-item-1"></div>
    <div id="menu-item-2"></div>
    <div id="menu-item-3"></div>
    <div id="menu-item-4"></div>
    <div id="menu-item-5"></div> -->
  </center>
  <script type="text/javascript">
  function readJSON(path) {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', path, true);
      xhr.responseType = 'blob';
      xhr.onload = function(e) {
        if (this.status == 200) {
            var file = new File([this.response], 'temp');
            var fileReader = new FileReader();
            fileReader.addEventListener('load', function(){
                 //do stuff with fileReader.result
            });
            fileReader.readAsText(file);
        }
      }
      xhr.send();
  }
  readJSON("public/templates/data/menu_items.json");

   /* <script type="text/javascript">
        var f  = {
          "items": [
          {
            "id":"1",
            "price": "$11.25",
            "name": "Italian Sausage Pizza",
            "description" :"Italian Sausage and Cheese"
          },
          {
            "id":"2",
            "price":"$10.00",
            "name": "Pepperoni Pizza",
            "description": "Pepperoni and Cheese"
          },
          {
            "id":"3",
            "price": "$5.60",
            "name": "Happy Sparkling Juice",
            "description": "Natural water and juice."
          },
          {
            "id":"4",
            "price": "$2.18",
            "name": "White Chocolate Chip Cookies",
            "description": "Fat Free and Low Carb Dessert"
          },
          {
            "id":"5",
            "price":"$4.50",
            "name":"New World Lemonade",
            "description": "Lemonade with organic sugar"
          }
          ]
        };
        console.log(f.items.length);
        var a = 0;
        var menuIdArray = [ 'menu-id-1', 'menu-id-2', 'menu-id-3', 'menu-id-4', 'menu-id-5' ];
        var menuNameArray = [ 'menu-name-1', 'menu-name-2', 'menu-name-3', 'menu-name-4', 'menu-name-5' ];
        var menuPriceArray = [ 'menu-price-1', 'menu-price-2', 'menu-price-3', 'menu-price-4', 'menu-price-5' ];
        for (var i = 0; i < f.items.length; i++) {
          document.getElementById(menuIdArray[i]).innerHTML = i + 1;
          document.getElementById(menuNameArray[i]).innerHTML = f.items[i].name;
          document.getElementById(menuPriceArray[i]).innerHTML = f.items[i].price;
        } */
    </script>



  </div>







</div>
