*.zip

.gradle
.buildfile
example_dataset
config/**
local/**
.data/carts
.data/users
.data/tokens
.data/orders
**/.data

# MAC Users
.DS_Store

# Logging file types
nohup.out
*.log

# Local Temporary Files
temp/**
*/temp/**
tmp
