<h1>Confirming Order</h1>
<h2>Thank you for your order!!!</h2>
<a class="backButton" href="/menu/view">Back</a>
<hr />


<div class="formWrapper">
  <form id="orderConfirm" action="/api/cart" method="POST">
    <div class="formError"></div>
    <input type="hidden" name="confirm" value="true"/>
    <center>
      <div class="credit-card-info">
        <label>Enter Credit Card Information</label>
        <br/>
        <table>
          <tr>
              <td><input type="number" name="card-info-1" max=4 value="" placeholder="1234"></td>
              <td><input type="number" name="card-info-2" max=4 value="" placeholder="1234"></td>
              <td><input type="number" name="card-info-3" max=4 value="" placeholder="1234"></td>
              <td><input type="number" name="card-info-4" max=4 value="" placeholder="1234"></td>
          </tr>
        </table>
      </div><br/>
      <label>Confirm your order to complete the process</label>
      <br/>
        <div id='orderConfirmation'>
          <textarea class="orderInformation" name="orderInformation" readonly></textarea>
        </div>
      <br/>
      <div class="inputWrapper ctaWrapper">
        <button type="submit" class="cta green">Confirm Order</button>
      </div>
    </center>
  </form>
</div>
