<h1>Confirming Order</h1>
<h2>Thank you for your order!!!</h2>
<a class="backButton" href="/menu/view">Back</a>
<hr />


<div class="formWrapper">
  <form id="orderConfirm" action="/api/order" method="POST">
    <center>
      <label>Confirm your order to complete the process</label>

      <textarea class="orderInformation" name="orderInformation"></textarea>

      <div class="inputWrapper ctaWrapper">
        <button type="submit" class="cta green">Confirm Order</button>
      </div>
    </center>
  </form>
</div>
